$white: #FFFFFF;
$lightergrey: #F4f4f4;
$lightgrey: #e9e9e9;
$mediumgrey: #757575;
$darkgrey1: #3a3a3a;
$darkgrey2: #2d2d2d;
$darkgrey3: #1f1f1f;
$black: #050505;
$purple: #A445ed;
$red: #dd5252;


// DARK MODE TECHNIQUE INSPIRED BY
// https://livecodestream.dev/post/a-better-approach-to-dark-mode-on-your-website/

html {
    transition: color 200ms, background-color 200ms;
}

html[data-theme="dark"] {
    background-color: $black;
    color: $white;

    .b-fonts__select {
        color: white;
    }

    .b-font-selector__expanded {
        background-color: $darkgrey3;
        box-shadow: 0 0 10px $purple;
    }

    .b-search {
        &__form {
            background-color: $darkgrey2;

            input[type="search"] {
                background-color: $darkgrey2;
                color: white;
            }

            button[type="submit"] {

                background-color: $darkgrey2;
            }
        }
    }

    .b-definitions {

        &__word,
        &__pos-heading,
        &__bullet {
            color: white;
        }

        &__pos-line {
            border-color: $darkgrey2
        }
    }

    .b-definitions__source-url {
        color: $mediumgrey;
    }

    .b-definitions__source {
        border-color: $darkgrey2
    }




}

html[data-theme='dark'] img {
    filter: invert(1) hue-rotate(180deg)
}