@font-face {
    font-family: 'Inter-Regular';
    src: url('../../../fonts/inter/static/Inter-Regular.ttf') format("truetype");

}

@font-face {
    font-family: 'Lora-Regular.ttf';
    src: url('../../../fonts/lora/static/Lora-Regular.ttf') format("truetype");

}

@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('../../../fonts/inconsolata/static/Inconsolata-Regular.ttf') format("truetype");

}

// -----------
@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../fonts/inter/static/Inter-Bold.ttf') format("truetype");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: 'Lora-Bold';
    src: url('../../../fonts/lora/static/Lora-Bold.ttf') format("truetype");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: 'Inconsolata-Bold';
    src: url('../../../fonts/inconsolata/static/Inconsolata-Bold.ttf') format("truetype");
    font-weight: bold;
    font-size: normal;
}


$san-serif: 'Inter-Regular';
$serif: 'Lora-Regular.ttf';
$mono: 'Inconsolata-Regular';

$san-serif-bold: 'Inter-Bold';
$serif-bold: 'Lora-Bold';
$mono-bold: 'Inconsolata-Bold';


html[data-font="san-serif"] {
    font-family: $san-serif;
    font-weight: 400;
}

html[data-font="serif"] {
    font-family: $serif;
    font-weight: 400;
}


html[data-font="mono"] {
    font-family: $mono;
    font-weight: 400;
}

html[data-fontBold="san-serif-bold"] {
    font-family: $san-serif-bold;
    // font-weight: 400;
}

html[data-fontBold="serif-bold"] {
    font-family: $serif-bold;
    // font-weight: 400;
}


html[data-fontBold="mono-bold"] {
    font-family: $mono-bold;
    // font-weight: 400;
}


.san-serif {
    font-family: $san-serif;
}


.serif {
    font-family: $serif;
}

.mono {
    font-family: $mono;
}

.san-serif-bold {
    font-family: $san-serif-bold;
}

.serif-bold {
    font-family: $serif-bold;
}

.mono-bold {
    font-family: $mono-bold;
}