@import './colors.scss', './fonts.scss', './layout.scss';

// * {
//   border: 1px dotted grey;
// }

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.choose-san-serif {
  $fontChoice: $san-serif;
}

.choose-serif {
  $fontChoice: $serif;
}

.choose-mono {
  $fontChoice: $mono;
}

#app {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#wrapper {
  width: 80%;
  max-width: 750px;
}


header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#style-selectors {

  // * {
  //   border: 1px solid black;
  // }

  @include flex-row;

  #colors {
    @include flex-row;
  }

  select {
    display: flex;
    gap: 1rem;
    -webkit-appearance: none;
    /* Remove default arrow on Chrome/Safari */
    -moz-appearance: none;
    /* Remove default arrow on Firefox */
    appearance: none;
    /* Remove default arrow on other browsers */

    background-color: transparent;
    /* Set the background to transparent */
    background-image: url('../images/icon-arrow-down.svg');
    /* Set your custom arrow image */
    background-repeat: no-repeat;
    background-position: right center;
    /* Position the arrow to the right of the select box */
    padding-right: 20px;
    /* Add some padding to the right of the select box to make room for the arrow */
    border: none;

    /* Remove the border around the select box */
    /* Prevent the */
    // #font-selector {
    //   border: 0px solid transparent;
    // }

  }

  select:focus {
    outline: none;
  }

  .toggler {
    transition: background-color 200ms;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 500ms;
  }

  .toggler-light {
    border: 3px solid $darkgrey1;
    background-color: $darkgrey1;



  }

  .toggler-dark {
    border: 3px solid $purple;
    background-color: $purple;


  }

  .knob {
    position: absolute;
    right: 0px;
    background-color: white;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    transition: right 500ms;
  }

  .knob-light {
    right: 1px;
  }

  .knob-dark {
    right: 20px;
  }


}


#search-box {
  margin: 1rem 0 2rem 0;

  .empty-search {
    border: 2px solid $red;
  }



  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $lightergrey;
    border-radius: 16px;
    padding: 1rem;
    border: 2px solid white;
    transition: border-color 300ms;
    box-sizing: border-box;

    input[type="search"] {
      background-color: $lightergrey;
      font-size: 2rem;
      border: 1px solid transparent;
      border-radius: inherit;
      width: 100%;
    }

    input[type="search"]:focus {
      outline: none;
    }

    input[type="search"]::placeholder {
      outline: none;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }


    button[type="submit"] {
      background-color: $lightergrey;
      color: $purple;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border: none;
    }

    button:active {
      transform: translate(1px, 1px)
    }
  }

  .form-focus {
    border: 3px solid $purple;
    box-shadow: 0 0 3px #a445ed54;
    ;
  }
}



#definition-view {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .word-top * {
      margin: 0px;
    }
  }

  .pos-block {
    font-weight: 700;
    font-style: italic;
    display: flex;
    place-items: center center;

    * {
      // border: 1px dotted red;
    }


    .heading-pos {
      display: inline-block;
      width: fit-content;
      margin: 0;
      margin-right: 1rem;
      margin-top: 2.25rem;
    }

    .pos-line {
      display: inline-block;
      border-top: 2px solid $lightgrey;
      width: 100%;
      margin-top: 2.25rem;
    }

    .example {
      color: $mediumgrey
    }

  }

  .definition-bullet::marker {
    color: $purple;
  }


  .synonyms {
    color: $purple;
    margin-left: 1rem;
    text-decoration: none;
    cursor: pointer;
  }

  .synonyms:hover {
    text-decoration: underline;
  }


  .source {
    border-top: 1px solid $mediumgrey;
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
  }

}