@import './colors.scss', './fonts.scss', './layout.scss';

// * {
//   border: 1px dotted grey;
// }

.choose-san-serif {
  $fontChoice: $san-serif;
}

.choose-serif {
  $fontChoice: $serif;
}

.choose-mono {
  $fontChoice: $mono;
}

#app {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#wrapper {
  width: 80%;
  max-width: 750px;
}


header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#style-selectors {
  display: flex;
  gap: 1rem;
}

#search-box {
  margin: 1rem 0 2rem 0;




  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $lightergrey;
    border-radius: 7px;
    padding: 1rem;

    input[type="search"] {
      background-color: $lightergrey;
      font-size: 2rem;
      border: 1px solid transparent;
      border-radius: inherit;
      width: 100%;
    }

    input[type="search"]:focus {
      outline: none;
    }

    input[type="search"]::placeholder {
      outline: none;
    }

    input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


    button[type="submit"] {
      background-color: $lightergrey;
      color: $purple;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border: none;
    }

    button:active {
      transform: translate(1px, 1px)
    }
  }

}

#definition-view {

  .header {
 display: flex;
justify-content: space-between;
align-items: center;

.word-top * {
  margin: 0px;
}
  }
.pos {
  font-weight: 700;
  font-style: italic ;
}
  .meaning {
    color: $mediumgrey;
  }


}


.purple {
  color: $purple;
}